name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install meson
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: meson
          version: 1.0

      - name: Cache build artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            builddir/
            target/
          key: ${{ runner.os }}-build-${{ hashFiles('**/Cargo.lock', 'meson.build') }}

      - name: Configure project
        run: '[[ -e builddir ]] || meson setup builddir'

      - name: Build
        run: meson compile -C builddir

      - name: Test
        run: meson test -C builddir

      - name: Check Rust formatting
        run: cargo fmt --check

      - name: Check C++ formatting
        run: clang-format -Werror --dry-run bindings/**/*.cpp bindings/**/*.h bindings/**/*.hpp
